
.modal-body{
    height:200px;
}
.navbar{
    background-color: darkcyan !important;
    border:none !important;
    border-radius:0px !important;
}
a.navbar-brand, .navbar-nav > li > a{
    color:whitesmoke !important;
}
.active > a{
    background-color:darkslategray !important;
}
.navbar > a:hover{
    color: darkorange !important;
}
#btn-new{
    position:relative;
    top:28px;
    padding:2px;
    padding-right:4px;
    
}
#btn-new-icon{
    left:3px;
    padding-right:4px;
}

#New-Channel, #new-message{
    margin-bottom:20px;
}

