
.navbar{
    background-color: darkcyan !important;
    border:none !important;
    border-radius:0px !important;
}
a.navbar-brand, .navbar-nav > li > a{
    color:whitesmoke !important;
}
.active > a{
    background-color:darkslategray !important;
}
.navbar > a:hover{
    color: darkorange !important;
}

#btn-new-icon, #btn-new{
    padding-right:5px;
}

#New-Channel, #new-message{
    margin-bottom:20px;
}
.favorite-btn-o, .trash-btn{
    background-color:white;
    color:darkslategray;
}
.channels, .favorite-btn-o, .trash-btn, .favorite-btn{
    font-size:18px;
}

.favorite-btn {
    background-color:white;
    color:darkorange;
}
#login-button{
    margin-top:20px;
}
