<div class="col-md-12 table-responsive" ng-controller="FavoritesController">
    <table class="table table-hover">
        <tr>
            <th class="col-md-10">Name</th>

            <th class="col-md-1"></th>
            <th class="col-md-1"></th>

        </tr>
        <tr style="cursor:pointer;" ng-repeat="channel in favorites track by $index">
            <td ng-bind="channel.name" ng-click="go('../Partials/Channel/' + channel.id, channel)"></td>
            <td>
                <button type="button"
                        class="btn"
                        ng-controller="AdminController"
                        ng-click="makeFavorite(channel)">
                    <span ng-show="starEmpty"
                          ng-click="starEmpty = false"
                          class="glyphicon glyphicon-star-empty"></span>
                    <span ng-hide="starEmpty"
                          ng-click="starEmpty = true"
                          class="glyphicon glyphicon-star"></span>
                </button>
            </td>
            <td>
                <button type="button"
                        class="btn"
                        ng-controller="AdminController"
                        ng-click="deleteChannel(channel)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </table>
</div>


