<div class="col-md-6 col-md-offset-3 table-responsive">
    <table class="table">
        <tr>
            <th class="col-md-10">Name</th>
            
                <th class="col-md-1"></th>
                <th class="col-md-1"></th>
            
        </tr>
        <tr style="cursor:pointer;" ng-repeat="channel in channels track by $index" class="channels">
            <td ng-bind="channel.name" ng-click="go('/Channel/' + channel.id, channel)"></td>
            <td>
                <button type="button"
                        class="btn favorite-btn-o"
                        ng-click="makeFavorite(channel, starEmpty, starFull)"
                        ng-hide="admin"
                        >
                    <span ng-show="starEmpty" class="glyphicon glyphicon-star-empty"></span>
                    <span ng-show="starFull" class="glyphicon glyphicon-star" style="color:darkorange;"></span>

                    
                </button>
            </td>
            <td>
                <button type="button"
                        class="btn trash-btn"
                        ng-click="deleteChannel(channel)"
                        ng-hide="admin">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>    
        </tr>
    </table>
</div>

