<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle"
                    data-toggle="collapse"
                    data-target="#navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>

            </button>
            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span>Chat Project</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav">
                <li ng-class="{active: $route.current.activeTab == 'Home'}"><a href="/">Home</a></li>
            
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{active: $route.current.activeTab == 'Admin'}"><a href="/Admin">
                    <span class="glyphicon glyphicon-log-in"></span> Admin</a></li>
            </ul>

        </div>

    </div>
</nav>