
    <form class="col-md-8 col-md-offset-2 message-form" ng-submit="addMessage(channel.id)">
        
            <div class="col-md-3 col-md-offset-9">
                <input ng-model="newMessage.author" placeholder="your name ..." class="form-control" type="text" id="example-author-input">
            </div>
            <div class="col-md-10 col-md-offset-2">
                <textarea ng-model="newMessage.body" class="form-control" placeholder="leave a reply ..." id="exampleTextarea" rows="3"></textarea>
            </div>
        <div class="col-md-12"><button type="submit" class="btn pull-right col-md-1 col-md-offset-11">OK</button></div>
    </form>
