<div id="admin-login" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h4>
                    Please enter username and password ...
                </h4>
                <form ng-submit="$ctrl.login()">
                    <div ng-repeat="input in $ctrl.formInputs track by $index">
                        <validated-input type="input.type"
                                         id="input.id"
                                         label="input.label"
                                         model="input.model"
                                         isValid="input.isValid"></validated-input>
                    </div>
                    <button  type="submit" class="btn btn-default">submit</button>

                    <!--<div class="form-group-sm has-feedback" ng-class="{'has-error': form.name.$touched && form.name.$invalid,
                     'has-success': form.name.$touched && form.name.$valid}">
                        <label for="usernameAdmin" class="control-label">username</label>
                        <input type="text" name="name" class="form-control" ng-model="name" id="usernameAdmin" placeholder="username" required>
                        <span class="glyphicon form-control-feedback"
                              ng-class="{'glyphicon-remove': form.name.$touched && form.name.$invalid,
                          'glyphicon-ok': form.name.$touched && form.name.$valid}"></span>
                    </div>
                    <div class="form-group-sm has-feedback" ng-class="{'has-error': form.password.$touched && form.password.$invalid,
                         'has-success': form.password.$touched && form.password.$valid}">
                        <label for="passwordAdmin" class="control-label">password</label>
                        <input type="password" class="form-control" ng-model="password" name="password" id="passwordAdmin" placeholder="password" required>
                        <span class="glyphicon form-control-feedback"
                              ng-class="{'glyphicon-remove': form.password.$touched && form.password.$invalid,
                          'glyphicon-ok': form.password.$touched && form.password.$valid}"></span>
                    </div>

                    <div class="row">
                        <button class="btn" id="login-button" ng-click="$ctrl.login()">Login</button>
                    </div>-->
                </form>
            </div>          
        </div>
    </div>
</div>